.test__header {
  margin: 30px 0;
  padding: 10px;
  background-color: red;
  color: white; }

.test__main {
  margin: 30px 0;
  padding: 10px;
  color: red; }

/**
 * Singleline or multiline description text. Line breaks are preserved.
 *
 * @some-tag {Type} name Singleline or multiline description text
 * @some-tag {Type} name.subname Singleline or multiline description text
 * @some-tag {Type} name.subname.subsubname Singleline or
 * multiline description text
 * @another-tag
 */
.test__footer {
  margin: 30px 0;
  padding: 10px;
  background-color: orange;
  color: white; }
