/**
 * This is a sample footer atom. It is used at the bottom of the page.
 *
 * @name {String} .test__footer
 *
 * @section {String} Atoms
 *
 * @example {Code}
 *
 * ```html
 * <footer class="test__footer">
 * \t<span class="example__span">Example</span>
 * </footer>
 * ```
 *
 * @author {String} author Myles O'Connor
 */

// Footer styles
.test__footer {
    margin: 30px 0;
    padding: 10px;
    background-color: $secondary;
    color: white;
}
