/**
 * This is a sample header atom. This component is meant to be placed at the top of the page.
 *
 * @section {String} section Atoms
 *
 * @parentComponent {String} parentComponent Header
 *
 * @name {String} name Header
 *
 * @example {Code}
 *
 * <header class="test__header">
 * ---]<span class="example__span">Example</span>
 * </header>
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-test-header
 * @defaultClasses {Array} defaultClasses test__header--mod-1,test__header--mod-2,test__header--mod-3,test__header--mod-4,test__header--mod-5,test__header--mod-6,test__header--mod-7,test__header--mod-8,test__header--mod-9
 * @optionalClasses {Array} optionalClasses test__header--variant-1,test__header--variant-2,test__header--variant-3
 */

// Header styles
.test__header {
    margin: 30px 0;
    padding: 10px;
    background-color: $primary;
    color: white;
}

/**
 * This is a sample header atom sub-component.
 *
 * @section {String} section Atoms
 *
 * @parentComponent {String} parentComponent Header
 *
 * @name {String} name Header Sub-Component
 *
 * @example {Code}
 *
 * <header class="test__header">
 * ---]<span class="example__span">Example</span>
 * </header>
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-test-header
 * @defaultClasses {Array} defaultClasses test__header--mod-1,test__header--mod-2,test__header--mod-3,test__header--mod-4,test__header--mod-5,test__header--mod-6,test__header--mod-7,test__header--mod-8,test__header--mod-9
 * @optionalClasses {Array} optionalClasses test__header--variant-1,test__header--variant-2,test__header--variant-3
 */
