/**
 * This is a sample header atom. This component is meant to be placed at the top of the page.
 *
 * @name {String} .test__header
 *
 * @section {String} Atoms
 *
 * @example {Code}
 *
 * <header class="test__header">
 * ---]<span class="example__span">Example</span>
 * </header>
 *
 * @author {String} author Myles O'Connor
 */

// Header styles
.test__header {
    margin: 30px 0;
    padding: 10px;
    background-color: $primary;
    color: white;
}
