/**
 * This is a sample main section atom. Place the main content of the page inside of this component.
 *
 * @name {String} .test__main
 *
 * @section {String} Atoms
 *
 * @example {Code}
 *
 * ```html
 * <section class="test__main">
 * \t<span class="example__span">Example</span>
 * </section>
 * ```
 *
 * @author {String} author Myles O'Connor
 */

// Main section styles
.test__main {
    margin: 30px 0;
    padding: 10px;
    color: $primary;
}
