/**
 * This is a sample main section atom. Place the main content of the page inside of this component.
 *
 * @section {String} section Atoms Section
 *
 * @parentComponent {String} parentComponent Main
 *
 * @name {String} name Main
 *
 * @example {Code}
 *
 * <section class="test__main">
 * ---]<span class="example__span">Example</span>
 * </section>
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-test-main
 * @defaultTextContent {String} defaultTextContent Test main section
 * @defaultClasses {Array} defaultClasses ["test__main--mod-1", "test__main--mod-2", "test__main--mod-3", "test__main--mod-4", "test__main--mod-5", "test__main--mod-6", "test__main--mod-7", "test__main--mod-8", "test__main--mod-9"]
 * @optionalClasses {Array} optionalClasses ["test__main--variant-1 (Description of variant #1)", "test__main--variant-2 (Description of variant #2)", "test__main--variant-3 (Description of variant #3)"]
 */

// Main section styles
.test__main {
    margin: 30px 0;
    padding: 10px;
    color: $primary;
}
