/**
 * The badge component, prefixed by gds-badge, is a numerical indicator of associated items.
 *
 * @section {String} section Atoms
 *
 * @parentComponent {String} parentComponent Badge
 *
 * @name {String} name Badge
 *
 * @example {Code}
 *
 * <p>Default badge<span class="gds-badge">2</span></p>
 *
 * @renderMarkup {Boolean} renderMarkup true
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-badge
 * @defaultClasses {Array} defaultClasses gds-badge
 * @optionalClasses {Array} optionalClasses gds-badge--inverse,gds-badge--success,gds-badge--success-inverse,gds-badge--info,gds-badge--info-inverse,gds-badge--warning,gds-badge--warning-inverse,gds-badge--danger,gds-badge--danger-inverse
 */
.gds-badge {
  display: inline-block;
  font-size: 60%;
  margin: 0 ($unit / 4);
  background: $gg-blue;
  color: white;
  padding: 1px ($unit / 4) 0;
  border-radius: $border-radius;
  vertical-align: text-top;
  font-family: $pri-font-regular;
  letter-spacing: .5px;
  pointer-events: none;
  text-shadow: none !important;
  box-shadow: none !important;
  @include no-select();
}

// Themes
.gds-badge--inverse {
  color: $gg-blue;
}

.gds-badge--dark {
  background: $gg-dark-4 !important;
}

.gds-badge--success {
  background: $gg-green;
}

.gds-badge--success-inverse {
  color: $gg-green;
}

.gds-badge--info {
  background: $gg-purple;
}

.gds-badge--info-inverse {
  color: $gg-purple;
}

.gds-badge--warning {
  background: $gg-gold;
}

.gds-badge--warning-inverse {
  color: $gg-gold;
}

.gds-badge--danger {
  background: $gg-red;
}

.gds-badge--danger-inverse {
  color: $gg-red;
}

.gds-badge--inverse,
.gds-badge--success-inverse,
.gds-badge--info-inverse,
.gds-badge--warning-inverse,
.gds-badge--danger-inverse {
  background: white;
}

/**
 * For a simple colored circle without a number inside, use an empty badge.
 *
 * @section {String} section Atoms
 *
 * @parentComponent {String} parentComponent Badge
 *
 * @name {String} name Badge - Empty
 *
 * @example {Code}
 *
 * <p>Default badge<span class="gds-badge gds-badge--empty"></span></p>
 *
 * @renderMarkup {Boolean} renderMarkup true
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-badge--empty
 * @defaultClasses {Array} defaultClasses gds-badge,gds-badge--empty
 * @optionalClasses {Array} optionalClasses gds-badge--inverse,gds-badge--success,gds-badge--success-inverse,gds-badge--info,gds-badge--info-inverse,gds-badge--warning,gds-badge--warning-inverse,gds-badge--danger,gds-badge--danger-inverse
 */
.gds-badge--empty {
  width: ($unit / 2);
  height: ($unit / 2);
  border-radius: ($unit / 4);
  vertical-align: super;
}

/////THEMING
$color-map: $default-color-map;
@each $class, $primary-color, $primary-color-dark, $primary-color-light, $secondary-color, $secondary-color-dark, $secondary-color-light, $tertiary-color, $tertiary-color-dark, $tertiary-color-light, $success-color, $success-color-dark, $success-color-light, $warning-color, $warning-color-dark, $warning-color-light, $danger-color, $danger-color-dark, $danger-color-light, $info-color, $info-color-dark, $info-color-light in $color-map {
	.#{$class} {
		.gds-badge {
			background: $primary-color;
		}

		// Themes
		.gds-badge--inverse {
			color: $primary-color;
		}

		.gds-badge--success {
			background: $success-color;
		}

		.gds-badge--success-inverse {
			color: $success-color;
		}

		.gds-badge--info {
			background: $info-color;
		}

		.gds-badge--info-inverse {
			color: $info-color;
		}

		.gds-badge--warning {
			background: $warning-color;
		}

		.gds-badge--warning-inverse {
			color: $warning-color;
		}

		.gds-badge--danger {
			background: $danger-color;
		}

		.gds-badge--danger-inverse {
			color: $danger-color;
		}
		.gds-badge--inverse,
		.gds-badge--success-inverse,
		.gds-badge--info-inverse,
		.gds-badge--warning-inverse,
		.gds-badge--danger-inverse {
			background: white;
		}
	}
}
