/**
 * The link component, prefixed by <span class="gds-text--code">gds-text--link</span>, is used to style text links.
 *
 * @section {String} section Atoms
 *
 * @parentComponent {String} parentComponent Link
 *
 * @name {String} name Link
 *
 * @example {Code}
 *
 * <a class="gds-text--link" href="#">A text link</a>
 *
 * @renderMarkup {Boolean} renderMarkup true
 *
 * @author {String} author Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger gds-text--link
 * @defaultClasses {Array} defaultClasses gds-text--link
 * @optionalClasses {Array} optionalClasses
 */
.gds-text--link {
  color: $gg-blue;

  &:hover {
    text-decoration: underline;
    color: $gg-blue-light-2;
  }
}

// Theming
$color-map: $default-color-map;
@each $class, $primary-color, $primary-color-dark, $primary-color-light, $secondary-color, $secondary-color-dark, $secondary-color-light, $tertiary-color, $tertiary-color-dark, $tertiary-color-light, $success-color, $success-color-dark, $success-color-light, $warning-color, $warning-color-dark, $warning-color-light, $danger-color, $danger-color-dark, $danger-color-light, $info-color, $info-color-dark, $info-color-light in $color-map {
  .#{$class} {
    .gds-text--link {
      color: $primary-color;

      &:hover {
        color: $primary-color-light;
      }
    }
  }
}
