/**
 * This is a sample molecule. It is used at the bottom of the page.
 *
 * @name {String} .test__molecule
 *
 * @section {String} Molecules
 *
 * @example {Code}
 *
 * ```html
 * <p class="example">
 * \t<span class="example__span">Example</span>
 * </p>
 * ```
 *
 * @author {String} author Myles O'Connor
 */

// Molecule styles
.test__molecule {
    margin: 30px 0;
    padding: 10px;
    background-color: $secondary;
    color: white;
}