/**
 * <p class="-m-b-3">Manually override the color, border-color, or background-color of any element.The basic formula is <span class="gds-text--code">-color-{p}-{c}</span> where <span class="gds-text--code">{p}</span> is the property being overridden and <span class="gds-text--code">{c}</span> is the color. Values for <span class="gds-text--code">{p}</span> are: <span class="gds-text--code">bg</span> (background), <span class="gds-text--code">bd</span> (border), and <span class="gds-text--code">tx</span> (text color). Values for <span class="gds-text--code">{c}</span> are: <span class="gds-text--code">pri</span> (current theme's primary color), <span class="gds-text--code">sec</span> (current theme's secondary color), <span class="gds-text--code">ter</span> (current theme's tertiary color), <span class="gds-text--code">suc</span> (success color), <span class="gds-text--code">war</span> (warning color), <span class="gds-text--code">dan</span> (danger color) & <span class="gds-text--code">inf</span> (info color).</p><p>For each color, there are 4 light variations and 4 dark variations, which can be specified using <span class="gds-text--code">-lt-1</span>, <span class="gds-text--code">-lt-2</span>, <span class="gds-text--code">-lt-3</span>, <span class="gds-text--code">-lt-4</span>, <span class="gds-text--code">-dk-1</span>, <span class="gds-text--code">-dk-2</span>, <span class="gds-text--code">-dk-3</span> or <span class="gds-text--code">-dk-4</span>.</p>
 *
 * @section {String} section Utilities
 *
 * @parentComponent {String} parentComponent Color
 *
 * @name {String} name Color
 *
 * @example {Code}
 *
 * <div class="-color-bg-pri">Primary background color</div>
 * <div class="-color-bd-suc">Success color border</div>
 * <div class="-color-tx-dan">Danger color text</div>
 *
 * @renderMarkup {Boolean} renderMarkup false
 *
 * @author {String} author Dan McKenna
 *
 * @tabTrigger {String} tabTrigger
 * @defaultClasses {Array} defaultClasses
 * @optionalClasses {Array} optionalClasses -color-bg-pri,-color-bg-pri-lt-*,-color-bg-pri-dk-*,-color-bg-sec,-color-bg-sec-lt-*,-color-bg-sec-dk-*,-color-bg-ter,-color-bg-ter-lt-*,-color-bg-ter-dk-*,-color-bg-suc,-color-bg-suc-lt-*,-color-bg-suc-dk-*,-color-bg-war,-color-bg-war-lt-*,-color-bg-war-dk-*,-color-bg-dan,-color-bg-dan-lt-*,-color-bg-dan-dk-*,-color-bg-inf,-color-bg-inf-lt-*,-color-bg-inf-dk-*,-color-bd-pri,-color-bd-pri-lt-*,-color-bd-pri-dk-*,-color-bd-sec,-color-bd-sec-lt-*,-color-bd-sec-dk-*,-color-bd-ter,-color-bd-ter-lt-*,-color-bd-ter-dk-*,-color-bd-suc,-color-bd-suc-lt-*,-color-bd-suc-dk-*,-color-bd-war,-color-bd-war-lt-*,-color-bd-war-dk-*,-color-bd-dan,-color-bd-dan-lt-*,-color-bd-dan-dk-*,-color-bd-inf,-color-bd-inf-lt-*,-color-bd-inf-dk-*,-color-tx-pri,-color-tx-pri-lt-*,-color-tx-pri-dk-*,-color-tx-sec,-color-tx-sec-lt-*,-color-tx-sec-dk-*,-color-tx-ter,-color-tx-ter-lt-*,-color-tx-ter-dk-*,-color-tx-suc,-color-tx-suc-lt-*,-color-tx-suc-dk-*,-color-tx-war,-color-tx-war-lt-*,-color-tx-war-dk-*,-color-tx-dan,-color-tx-dan-lt-*,-color-tx-dan-dk-*,-color-tx-inf,-color-tx-inf-lt-*,-color-tx-inf-dk-*
 */
$color-sfx:('pri','sec','ter','suc','war','dan','inf');
$shade-sfx:('','-lt-1','-lt-2','-lt-3','-lt-4','-dk-1','-dk-2','-dk-3','-dk-4');
$defaults:(
	(
		$gg-blue,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4
	),
	(
		$gg-gold,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4
	),
	(
		$gg-red,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4
	),
	(
		$gg-green,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4
	),
	(
		$gg-gold,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4
	),
	(
		$gg-red,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4
	),
	(
		$gg-purple,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4
	),
);

@for $i from 0 to length($defaults) {
	$cl:nth($color-sfx, $i+1);
	$color-set:nth($defaults,$i+1);
	@for $g from 0 to length($color-set) {
		$sd:nth($shade-sfx,$g+1);
		$value:nth($color-set,$g+1);
		.-color-bg-#{$cl + $sd} {
			background-color:$value !important;
		}
		.-color-bd-#{$cl + $sd} {
			border-color:$value !important;
		}
		.-color-tx-#{$cl + $sd} {
			color:$value !important;
		}
	}
}


$utilities-theme-color-map: (
	(
		$gg-theme-blue,
		$gg-blue,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	),
	(
		$gg-theme-gold,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-blue,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	),
	(
		$gg-theme-red,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-blue,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	),
	(
		$gg-theme-green,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	),
	(
		$gg-theme-purple,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4,
		$gg-blue,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	),
	(
		$gg-theme-mantii,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-blue,
		$gg-blue-dark-1,
		$gg-blue-dark-2,
		$gg-blue-dark-3,
		$gg-blue-dark-4,
		$gg-blue-light-1,
		$gg-blue-light-2,
		$gg-blue-light-3,
		$gg-blue-light-4,
		$gg-green,
		$gg-green-dark-1,
		$gg-green-dark-2,
		$gg-green-dark-3,
		$gg-green-dark-4,
		$gg-green-light-1,
		$gg-green-light-2,
		$gg-green-light-3,
		$gg-green-light-4,
		$gg-gold,
		$gg-gold-dark-1,
		$gg-gold-dark-2,
		$gg-gold-dark-3,
		$gg-gold-dark-4,
		$gg-gold-light-1,
		$gg-gold-light-2,
		$gg-gold-light-3,
		$gg-gold-light-4,
		$gg-red,
		$gg-red-dark-1,
		$gg-red-dark-2,
		$gg-red-dark-3,
		$gg-red-dark-4,
		$gg-red-light-1,
		$gg-red-light-2,
		$gg-red-light-3,
		$gg-red-light-4,
		$gg-purple,
		$gg-purple-dark-1,
		$gg-purple-dark-2,
		$gg-purple-dark-3,
		$gg-purple-dark-4,
		$gg-purple-light-1,
		$gg-purple-light-2,
		$gg-purple-light-3,
		$gg-purple-light-4
	)
);
@each $class, $primary-color, $primary-color-dark-1, $primary-color-dark-2, $primary-color-dark-3, $primary-color-dark-4, $primary-color-light-1, $primary-color-light-2, $primary-color-light-3, $primary-color-light-4, $secondary-color, $secondary-color-dark-1, $secondary-color-dark-2, $secondary-color-dark-3, $secondary-color-dark-4, $secondary-color-light-1, $secondary-color-light-2, $secondary-color-light-3, $secondary-color-light-4, $tertiary-color, $tertiary-color-dark-1, $tertiary-color-dark-2, $tertiary-color-dark-3, $tertiary-color-dark-4, $tertiary-color-light-1, $tertiary-color-light-2, $tertiary-color-light-3, $tertiary-color-light-4, $success-color,  $success-color-dark-1,  $success-color-dark-2,  $success-color-dark-3,  $success-color-dark-4,  $success-color-light-1,  $success-color-light-2,  $success-color-light-3,  $success-color-light-4, $warning-color, $warning-color-dark-1, $warning-color-dark-2, $warning-color-dark-3, $warning-color-dark-4, $warning-color-light-1, $warning-color-light-2, $warning-color-light-3, $warning-color-light-4, $danger-color, $danger-color-dark-1, $danger-color-dark-2, $danger-color-dark-3, $danger-color-dark-4, $danger-color-light-1, $danger-color-light-2, $danger-color-light-3, $danger-color-light-4, $info-color, $info-color-dark-1, $info-color-dark-2, $info-color-dark-3, $info-color-dark-4, $info-color-light-1, $info-color-light-2, $info-color-light-3, $info-color-light-4 in $utilities-theme-color-map {
	$mapping:(
		(
			$primary-color,
			$primary-color-light-1,
			$primary-color-light-2,
			$primary-color-light-3,
			$primary-color-light-4,
			$primary-color-dark-1,
			$primary-color-dark-2,
			$primary-color-dark-3,
			$primary-color-dark-4
		),
		(
			$secondary-color,
			$secondary-color-light-1,
			$secondary-color-light-2,
			$secondary-color-light-3,
			$secondary-color-light-4,
			$secondary-color-dark-1,
			$secondary-color-dark-2,
			$secondary-color-dark-3,
			$secondary-color-dark-4
		),
		(
			$tertiary-color,
			$tertiary-color-light-1,
			$tertiary-color-light-2,
			$tertiary-color-light-3,
			$tertiary-color-light-4,
			$tertiary-color-dark-1,
			$tertiary-color-dark-2,
			$tertiary-color-dark-3,
			$tertiary-color-dark-4
		),
		(
			$success-color,
			$success-color-light-1,
			$success-color-light-2,
			$success-color-light-3,
			$success-color-light-4,
			$success-color-dark-1,
			$success-color-dark-2,
			$success-color-dark-3,
			$success-color-dark-4
		),
		(
			$warning-color,
			$warning-color-light-1,
			$warning-color-light-2,
			$warning-color-light-3,
			$warning-color-light-4,
			$warning-color-dark-1,
			$warning-color-dark-2,
			$warning-color-dark-3,
			$warning-color-dark-4
		),
		(
			$danger-color,
			$danger-color-light-1,
			$danger-color-light-2,
			$danger-color-light-3,
			$danger-color-light-4,
			$danger-color-dark-1,
			$danger-color-dark-2,
			$danger-color-dark-3,
			$danger-color-dark-4
		),
		(
			$info-color,
			$info-color-light-1,
			$info-color-light-2,
			$info-color-light-3,
			$info-color-light-4,
			$info-color-dark-1,
			$info-color-dark-2,
			$info-color-dark-3,
			$info-color-dark-4
		),
	);

	.#{$class} {
		@for $i from 0 to length($mapping) {
			$cl:nth($color-sfx, $i+1);
			$color-set:nth($mapping,$i+1);
			@for $g from 0 to length($color-set) {
				$sd:nth($shade-sfx,$g+1);
				$value:nth($color-set,$g+1);
				.-color-bg-#{$cl + $sd} {
					background-color:$value !important;
				}
				.-color-bd-#{$cl + $sd} {
					border-color:$value !important;
				}
				.-color-tx-#{$cl + $sd} {
					color:$value !important;
				}
			}
		}
	}
}
