/**
 * <p class="-m-b-3">Assign margin or padding to any element with shorthand utility classes. Includes support for individual properties, all properties, and vertical and horizontal properties. The classes are named using the format: <span class="gds-text--code">{property}-{sides}-{size}</span>. <span class="gds-text--code">{property}</span> can be <span class="gds-text--code">-m</span> (margin), or <span class="gds-text--code">-p</span> (padding). <span class="gds-text--code">{sides}</span> can be <span class="gds-text--code">-t</span> (top), <span class="gds-text--code">-r</span> (right), <span class="gds-text--code">-b</span> (bottom), <span class="gds-text--code">-l</span> (left), <span class="gds-text--code">-v</span> (vertical, top & bottom sides), <span class="gds-text--code">-h</span> (horizontal, left & right sides), or <span class="gds-text--code">-a</span> (all sides). <span class="gds-text--code">{size}</span> can be <span class="gds-text--code">0</span>, <span class="gds-text--code">1</span>, <span class="gds-text--code">2</span>, <span class="gds-text--code">3</span>, <span class="gds-text--code">4</span>, <span class="gds-text--code">5</span> or <span class="gds-text--code">6</span> indicating multiples of the global default value, the $unit variable.</p><p>For the spacing to take effect at a certain breakpoint only, use the format <span class="gds-text--code">{property}-{sides}-{size}-{breakpoint}</span>, where <span class="gds-text--code">{breakpoint}</span> can be <span class="gds-text--code">xs</span>, <span class="gds-text--code">sm</span>, <span class="gds-text--code">md</span>, <span class="gds-text--code">lg</span> or <span class="gds-text--code">xl</span>.</p>
 *
 * @section {String} section Utilities
 *
 * @parentComponent {String} parentComponent Margin & Padding
 *
 * @name {String} name Margin & Padding
 *
 * @example {Code}
 *
 * <div class="-color-bg-pri-lt-4 -overflow-hidden -m-b-2">
 * ---]<div class="-m-a-1 -color-bg-pri">Margin all 1</div>
 * </div>
 * <div class="-color-bg-pri-lt-4 -overflow-hidden -m-b-2">
 * ---]<div class="-m-l-6 -color-bg-pri">Margin left 6</div>
 * </div>
 * <div class="-color-bg-pri-lt-4 -overflow-hidden -m-b-2">
 * ---]<div class="-p-v-3 -color-bg-pri">Padding vertical 3</div>
 * </div>
 * <div class="-color-bg-pri-lt-4 -overflow-hidden -m-b-2">
 * ---]<div class="-p-h-2 -color-bg-pri">Padding horizontal 2</div>
 * </div>
 *
 * @renderMarkup {Boolean} renderMarkup true
 *
 * @author {String} author Dan McKenna, Myles O'Connor
 *
 * @tabTrigger {String} tabTrigger
 * @defaultClasses {Array} defaultClasses
 * @optionalClasses {Array} optionalClasses -m-t-*,-m-r-*,-m-b-*,-m-l-*,-m-v-*,-m-h-*,-m-a-*,-m-t-*-xs,-m-r-*-xs,-m-b-*-xs,-m-l-*-xs,-m-v-*-xs,-m-h-*-xs,-m-a-*-xs,-m-t-*-sm,-m-r-*-sm,-m-b-*-sm,-m-l-*-sm,-m-v-*-sm,-m-h-*-sm,-m-a-*-sm,-m-t-*-md,-m-r-*-md,-m-b-*-md,-m-l-*-md,-m-v-*-md,-m-h-*-md,-m-a-*-md,-m-t-*-lg,-m-r-*-lg,-m-b-*-lg,-m-l-*-lg,-m-v-*-lg,-m-h-*-lg,-m-a-*-lg,-m-t-*-xl,-m-r-*-xl,-m-b-*-xl,-m-l-*-xl,-m-v-*-xl,-m-h-*-xl,-m-a-*-xl,-p-t-*,-p-r-*,-p-b-*,-p-l-*,-p-v-*,-p-h-*,-p-a-*,-p-t-*-xs,-p-r-*-xs,-p-b-*-xs,-p-l-*-xs,-p-v-*-xs,-p-h-*-xs,-p-a-*-xs,-p-t-*-sm,-p-r-*-sm,-p-b-*-sm,-p-l-*-sm,-p-v-*-sm,-p-h-*-sm,-p-a-*-sm,-p-t-*-pd,-p-r-*-pd,-p-b-*-pd,-p-l-*-pd,-p-v-*-pd,-p-h-*-pd,-p-a-*-pd,-p-t-*-lg,-p-r-*-lg,-p-b-*-lg,-p-l-*-lg,-p-v-*-lg,-p-h-*-lg,-p-a-*-lg,-p-t-*-xl,-p-r-*-xl,-p-b-*-xl,-p-l-*-xl,-p-v-*-xl,-p-h-*-xl,-p-a-*-xl
 */
@each $index2, $spacing in $spacings{
	// Standard
	.-m-r-#{$spacing} {
		margin-right: #{nth($increments, ($index2 + 1))} !important;
	}
	.-m-l-#{$spacing} {
		margin-left: #{nth($increments, ($index2 + 1))} !important;
	}

	.-m-t-#{$spacing} {
		margin-top: #{nth($increments, ($index2 + 1))} !important;
	}

	.-m-b-#{$spacing} {
		margin-bottom: #{nth($increments, ($index2 + 1))} !important;
	}

	.-m-v-#{$spacing} {
		margin-top: #{nth($increments, ($index2 + 1))} !important;
		margin-bottom: #{nth($increments, ($index2 + 1))} !important;
	}

	.-m-h-#{$spacing} {
		margin-left: #{nth($increments, ($index2 + 1))} !important;
		margin-right: #{nth($increments, ($index2 + 1))} !important;
	}

	.-m-a-#{$spacing} {
		margin: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-r-#{$spacing} {
		padding-right: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-l-#{$spacing} {
		padding-left: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-t-#{$spacing} {
		padding-top: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-b-#{$spacing} {
		padding-bottom: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-v-#{$spacing} {
		padding-top: #{nth($increments, ($index2 + 1))} !important;
		padding-bottom: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-h-#{$spacing} {
		padding-left: #{nth($increments, ($index2 + 1))} !important;
		padding-right: #{nth($increments, ($index2 + 1))} !important;
	}

	.-p-a-#{$spacing} {
		padding: #{nth($increments, ($index2 + 1))} !important;
	}
}

// Breakpoint-specific
@each $index2, $affix in $affixes{
	@each $index, $spacing in $spacings{
		$bp: unquote(nth($breakpoints,$index2));

		.-m-r-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-right: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-l-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-left: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-t-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-top: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-b-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-bottom: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-v-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-top: #{nth($increments, ($index + 1))} !important;
				margin-bottom: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-h-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin-left: #{nth($increments, ($index + 1))} !important;
				margin-right: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-m-a-#{$spacing}-#{$affix} {
			@media #{$bp} {
				margin: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-r-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-right: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-l-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-left: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-t-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-top: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-b-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-bottom: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-v-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-top: #{nth($increments, ($index + 1))} !important;
				padding-bottom: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-h-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding-left: #{nth($increments, ($index + 1))} !important;
				padding-right: #{nth($increments, ($index + 1))} !important;
			}
		}

		.-p-a-#{$spacing}-#{$affix} {
			@media #{$bp} {
				padding: #{nth($increments, ($index + 1))} !important;
			}
		}
	}
};
