/**
 * This is an example organism. It is a combination of atoms & molecules.
 *
 * @section {String} section Organisms Section
 *
 * @parentComponent {String} parentComponent Example component
 *
 * @name {String} name Example
 *
 * @example {Code}
 *
 * <div class="example__organism">
 * ---]<span class="example__span">
 * ---]---]<span class="example__span">Example</span>
 * ---]</span>
 * </div>
 *
 * @author {String} author Dan McKenna
 *
 * @tabTrigger {String} tabTrigger gds-example-organism
 * @defaultTextContent {String} defaultTextContent Example organism
 * @defaultClasses {Array} defaultClasses ["example__organism--mod-1", "example__organism--mod-2", "example__organism--mod-3", "example__organism--mod-4", "example__organism--mod-5", "example__organism--mod-6", "example__organism--mod-7", "example__organism--mod-8", "example__organism--mod-9"]
 * @optionalClasses {Array} optionalClasses ["example__organism--variant-1 (Description of variant #1)", "example__organism--variant-2 (Description of variant #2)", "example__organism--variant-3 (Description of variant #3)", "example__organism--variant-4 (Description of variant #4)", "example__organism--variant-5 (Description of variant #5)", "example__organism--variant-6 (Description of variant #6)", "example__organism--variant-7 (Description of variant #7)", "example__organism--variant-8 (Description of variant #8)", "example__organism--variant-9 (Description of variant #9)"]
 */

// Organism styles
.example__organism {
    margin: 30px 0;
    padding: 10px;
    background-color: $secondary;
    color: white;
}